<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><b>Contact Information</b>
    <form action="/question3insert" method="POST">
        <table>
            <tr>
                <td>
                    <label for="First Name*">First Name*</label>
                </td>
                <td>
                    <input type="text" name="Fname" id="Fname">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Last Name*">Last Name*</label>
                </td>
                <td>
                    <input type="text" name="Lname" id="Lname">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Address 1*">Address 1*</label>
                </td>
                <td>
                    <input type="text" name="Add1" id="Add1">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Address 2">Address 2</label>
                </td>
                <td>
                    <input type="text" name="Add2" id="Add2">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="City*">City*</label>
                </td>
                <td>
                    <input type="text" name="City" id="City">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="State or Province*">State or Province*</label>
                </td>
                <td>
                    <input type="text" name="State" id="State">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Zip*">Zip*</label>
                </td>
                <td>
                    <input type="text" name="Zip" id="Zip">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Country*">Country*</label>
                </td>
                <td>
                    <input type="text" name="Country" id="Country">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Gender*">Gender*</label>
                </td>
                <td>
                    <input type="radio" name="Gender" value="Female" id="Gender">Female
                    <input type="radio" name="Gender" value="Male" id="Gender">Male
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <input type="reset" >
                </td>
            </tr>
        </table>
    </form>
</center>
</body>
</html> 