<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <form class="form" action="/question1insert" method="POST">
            <table id="table">
                <tr>
                    <td>
                        <label for="Username">Username:</label>
                    </td>
                    <td>
                        <input type="text" name="Username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Pwd">Password:</label>
                    </td>
                    <td>
                        <input type="password" name="Pwd">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rpwd">Retype Password:</label>
                    </td>
                    <td>
                        <input type="password" name="rpwd">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Gender">Gender:</label>
                    </td>
                    <td>
                        <input type="radio" id="Gender" name="Gender" value="Male">Male
                        <input type="radio" id="Gender" name="Gender" value="Female">Female          
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Fname">First Name:</label>
                    </td>
                    <td>
                        <input type="text" name="Fname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Lname">Last Name:</label>
                    </td>
                    <td>
                        <input type="text" name="Lname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Email">Email:</label>
                    </td>
                    <td>
                        <input type="text" name="Email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="btn1"> 
                    </td>
                    <td>
                        <input type="reset" id="btn2">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>