<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><b>Misc.Information</b>
    <form action="/question4insert" method="POST">
        <table>
            <tr>
                <td>
                    <label><b>Annual Household Income</b></label>
                </td>
                <td>
                    <select name="AHI" id="ahi">
                        <option value="Below 50000">Below 50000</option>
                        <option value="Below 100000">Below 100000</option>
                        <option value="Above 100000">Above 100000</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Interests</b></label>
                </td>
                <td>
                    <input type="checkbox" name="sh" id="sh" value="Shopping/fashion">Shopping/fashion
                    <input type="checkbox" name="sp" id="sp" value="Sports">Sports
                    <input type="checkbox" name="tr" id="tr" value="Travel">Travel
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Eye Color</b></label>
                </td>
                <td>
                    <input type="checkbox" name="red" id="red" value="Red">Red
                    <input type="checkbox" name="green" id="green" value="Green">Green
                    <input type="checkbox" name="brown" id="brown" value="Brown">Brown
                    <input type="checkbox" name="blgold" id="blgold" value="Blue Gold">Blue Gold
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                    <input type="reset">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
    </center>
</body>
</html>